In [21]:
import numpy as np
import  pandas as pd

data=np.array(['A','B','C','D'])
S=pd.Series(data)
s2=pd.Series(data,index=[10,20,30,40])
print(S)
print(s2)

0    A
1    B
2    C
3    D
dtype: object
10    A
20    B
30    C
40    D
dtype: object

In [49]:
####remaining part

In [23]:
s=pd.Series([25,65,65,88,99],index=[1,2,3,4,5])
print(s)
print(s[4])

1    25
2    65
3    65
4    88
5    99
dtype: int64
88

In [24]:
s=pd.Series(5,index=[1,2,3,4])
print(s)

1    5
2    5
3    5
4    5
dtype: int64

In [25]:
s=pd.Series([25,65,65,88,99],index=[1,2,3,4,5])
print(s[:3])
print(s[1:])
print(s[-2:])

In [26]:
s=pd.Series([25,65,65,88,99],index=['a','b','c','d','e'])
print(s['c'])
print(s[['a','d','e']])

65
a    25
d    88
e    99
dtype: int64

In [27]:
s=pd.DataFrame()
print(s)

Empty DataFrame
Columns: []
Index: []

In [28]:
s=[25,65,65,88,99]
s=pd.DataFrame(s)
print(s)

    0
0  25
1  65
2  65
3  88
4  99

In [29]:
data=np.arange(0,55,3)
s=pd.DataFrame(data)
print(s)

     0
0    0
1    3
2    6
3    9
4   12
5   15
6   18
7   21
8   24
9   27
10  30
11  33
12  36
13  39
14  42
15  45
16  48
17  51
18  54

In [30]:
data=[['Alex',10],['Bob',11],['mPS',12]]
df=pd.DataFrame(data,columns=['NAME','AGE'])
print(df)

   NAME  AGE
0  Alex   10
1   Bob   11
2   mPS   12

In [31]:
data={'Name':['Alex','Bob','mPS'],'Age':[22,33,44]}
df=pd.DataFrame(data)
print(df)

   Name  Age
0  Alex   22
1   Bob   33
2   mPS   44

In [32]:
data={'Name':['Alex','Bob','mPS'],'Age':[22,33,44]}
df=pd.DataFrame(data,index=['one','two','three'],columns=['Age','Name'])
print(df)

       Age  Name
one     22  Alex
two     33   Bob
three   44   mPS

In [33]:
data=[{'a':1,'b':2},{'a':5,'b':3,'c':5}]
df=pd.DataFrame(data)
print(df)

   a  b    c
0  1  2  NaN
1  5  3  5.0

In [34]:
import pandas as pd
data={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],
                                                                   index=['a','b','c','d'])}
df=pd.DataFrame(data)
print(df)
print(df['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [35]:
import numpy as np
import pandas as pd
data={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],
                                                                   index=['a','b','c','d'])}
df=pd.DataFrame(data)
print(df)
print(df['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [36]:
data={'one':pd.Series([1,2,3],index=['a','b','c']),'two':pd.Series([1,2,3,4],
                                                                   index=['a','b','c','d'])}
df=pd.DataFrame(data)
df['three']=df['one']+df['two']
print(df)

   one  two  three
a  1.0    1    2.0
b  2.0    2    4.0
c  3.0    3    6.0
d  NaN    4    NaN

In [38]:

import pandas as pd
s={'one':pd.Series([1,2,3],index=['a','b','c'])}
df=pd.DataFrame(s)
print(df)
print()
print(df.loc['c'])

   one
a    1
b    2
c    3

one    3
Name: c, dtype: int64

In [48]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns=['A','B'])
df1 = pd.DataFrame([[5, 6], [7, 8]], columns=['A','B'])
print(df)
print()
print(df1)

df=df.append(df1)
print()
print(df)

print()

df1=df.drop([0])
print(df1)

print()
df2=df.drop(columns=['B'])
print(df2)

   A  B
0  1  2
1  3  4

   A  B
0  5  6
1  7  8

   A  B
0  1  2
1  3  4
0  5  6
1  7  8

   A  B
1  3  4
1  7  8

   A
0  1
1  3
0  5
1  7

In [38]:
import csv
import pandas as pd
with open('/home/manpreet/mps/iris.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    df=pd.read_csv(csvfile)
    
    print("\n\nPrinting content of csv:\n")
    print(df)
    
    print("\n\nPrinting description:\n")
    
    print(df.describe())
    
    print("\n\nPrinting specific row:\n")
    
    
    print(df['petal_length'])
    
    print("\n\nPrinting shape/// no of rows and column:\n")
    
    print(df.shape)
    
    
    
    
    
    #####this is line by line read code
    '''for row in reader:
        print(row['sepal_length']+'\t'+row['sepal_width']+'\t'+row['petal_length']+'\t'+row['petal_width']+'\t'
              +row['species'])'''

Printing content of csv:

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]


Printing description:

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000


Printing specific row:

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
5      1.7
6      1.4
7      1.5
8      1.4
9      1.5
10     1.5
11     1.6
12     1.4
13     1.1
14     1.2
15     1.5
16     1.3
17     1.4
18     1.7
19     1.5
20     1.7
21     1.5
22     1.0
23     1.7
24     1.9
25     1.6
26     1.6
27     1.5
28     1.4
29     1.6
      ...
120    5.7
121    4.9
122    6.7
123    4.9
124    5.7
125    6.0
126    4.8
127    4.9
128    5.6
129    5.8
130    6.1
131    6.4
132    5.6
133    5.1
134    5.6
135    6.1
136    5.6
137    5.5
138    4.8
139    5.4
140    5.6
141    5.1
142    5.1
143    5.9
144    5.7
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal_length, Length: 150, dtype: float64


Printing shape/// no of rows and column:

(150, 5)